{#
This file is part of the CampaignChain package.

(c) CampaignChain Inc. <info@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Base:base.html.twig' %}

{% block body %}
<form action="{{ path('campaignchain_channel_google_analytics_connect_location') }}" method="POST">
<table class="table table-striped">
    <tr>
        <th></th>
        <th>Property ID</th>
        <th>Name</th>
        <th>URL</th>
    </tr>
    {% set thereIsNotSelected = false %}
    {% for profile in profiles %}
        {%  if profile.webPropertyId not in dbProfileIds %}
            {% set thereIsNotSelected = true %}
        {% endif %}
        <tr>
            <td>
                <input type="checkbox" name="google-analytics-property-id[]" value="{{ profile.accountId }}|{{ profile.webPropertyId }}" {%  if profile.webPropertyId in dbProfileIds %} disabled {% endif %}>
            </td>
            <td>{{ profile.webPropertyId }}</td>
            <td>{{ profile.name }}</td>
            <td>{{ profile.websiteUrl }}</td>
        </tr>
    {% endfor %}
</table>
    {% if thereIsNotSelected %}
        <button class="btn btn-primary" type="submit">Connect Property</button>
    {% else %}
        You are already imported all of your Properties!
    {% endif %}
</form>
{% endblock %}
